{% extends "base.html" %}
{% load bootstrap4 %}

{% block path %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'gymnasiums:list' %}">Gymnases</a></li>
    {% if 'create' in request.path %}
      <li class="breadcrumb-item active" aria-current="page">Création</li>
    {% elif 'update' in request.path %}
      <li class="breadcrumb-item"><a href="{% url 'gymnasiums:detail' gymnasium.id %}">Gymnase {{ gymnasium.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Modification</li>
    {% endif %}
  </ol>
</nav>
{% endblock %}

{% block page_title %}
  {% if 'create' in request.path %}
    Creation d'un gymnase
  {% elif 'update' in request.path %}
    Modification du gymnase {{ gymnasium.name }}
  {% else %}
    Unknown command on gymnasiums
  {% endif %}
{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form layout='horizontal' %}
  {% if 'create' in request.path %}
    {% bootstrap_button "Enregistrer" button_type="submit" button_class="btn-primary" %}
    <button type="button" class="btn btn-primary">Primary</button>
    <button class="btn btn-primary" type="button">Cancel</button>
  {% elif 'update' in request.path %}
    {% bootstrap_button "Enregistrer" button_type="submit" button_class="btn-success" %}
    {% bootstrap_button "Reset" button_type="reset" button_class="btn-primary" %}
  {% endif %}
</form>
{% endblock %}
