{% extends "base.html" %}
{% load bootstrap4 %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'gymnasiums:list' %}">Gymnases</a></li>
      <li class="breadcrumb-item"><a href="{% url 'gymnasiums:detail' gymnasium.id %}">Gymnase {{ gymnasium.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Suppression</a></li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  Gymnase {{ gymnasium.name }}
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <p>Do you really want to delete the gymnasium '{{ gymnasium.name }}'?</p>
    {% bootstrap_button "Delete" button_type="submit" button_class="btn-danger" %}
  </form>
{% endblock %}
